// Styling for the masthead
header.masthead {
  position: relative;            // keep positioning predictable
  text-align: center;
  color: $primary;
  background-image: url("#{$header-image}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 35% center;   // left-center focus
  background-size: 100% auto;           // default for desktop
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 22px;
      font-style: italic;
      line-height: 22px;
      margin-bottom: 25px;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}

/* SMALL SCREENS: make width match viewport, reduce padding so image can scale */
@media (max-width: 767.98px) {
  header.masthead {
    background-position: 30% center;  // slightly left on phones
    background-size: 100% auto;       // force image width = viewport width, preserve aspect ratio
    .intro-text {
      padding-top: 80px;    // smaller paddings so header height isn't huge
      padding-bottom: 60px;
      .intro-lead-in {
        font-size: 18px;
        line-height: 20px;
      }
      .intro-heading {
        font-size: 32px;
        line-height: 36px;
      }
    }
  }
}

@media (min-width: 768px) {
  header.masthead {
    /* desktop behavior */
    background-position: 35% center;
    background-size: cover;
    .intro-text {
      padding-top: 300px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
